body {
  max-width: 800px;
  left: 0;
  right: 0;
  margin: auto;
}

.main_content {
  margin-top: 50px;
  padding: 0 200px;
  text-align: center;
}
header h1 {
  font-size: 40px;
  margin-top: 0;
  color: rgb(137, 207, 240);
}

header h2 {
  font-size: 20px;
}

.main_content p {
  padding: 50px 100px;
}

footer {
  font-size: 14px;
}
